html, main {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    margin: 0 15px;
    // overflow-y: hidden;
    // padding-top: 20px;
    align-items: stretch;
    background-color: $black;
    column-gap: 1rem;
}

main {
    // margin-top: 20px;
    margin-bottom: 20px;
    // margin-left: 20px;
    max-width: 830px;
    flex: 0 0 75%;
    // padding: $main-offset-desktop 0;
    // max-height: 100vh;
    overflow-y: scroll;
    border: 1px solid lightgray;
    background-color: $white;
    position: relative;

    &::before, &::after {
        content: '';
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        height: $main-offset-desktop;
        background-color: $black;
        z-index: 2;
    }

    &::after {
        bottom: 0;
    }

    &::before {
        top: 0;
    }
}

.container {
    width: 85%;
    margin: 0 auto;
    // height: 100%;
    padding: 2em 0;
}

/* hide scrollbar but allow scrolling */
body, main {
    -ms-overflow-style: none; /* Internet Explorer, Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar, main::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

section,
footer{
    // height: 500px;
    // border-bottom: 1px solid lightgray;
    border-top: 1px solid lighten($gray, 40%);
    // text-align: center;
    scroll-margin-top: $scroll-offset-desktop;
}

section:focus,
header:focus, footer:focus {
    outline: none;
}

nav {
    max-width: 220px;
    flex: 0 0 25%;
    background-color: $white;
}

.nav-mobile {
    display: none;
}

.hamburger-container {
    display: none;
}



@media screen and (max-width: 1176px) {
    main {
        max-width: 63vw;
        // width: 63vw;
    }
}

@media screen and (max-width: $breakpoint-mobile) {
    body {
        margin: 0;
        padding-top: 0;
        display: block;
    }

    main {
        margin: 0;
        padding-top: $main-offset-mobile;
        padding-bottom: 0;
        border: none;
        flex-grow: 1;
        max-height: 100vh;
        max-width: 100vw;

        &::before, &::after {
            height: 0;
        }
    }

    .nav-mobile {
        display: block;
    }

    .nav-desktop {
        display: none;
    }

    .hamburger-container {
        display: block;
    }

    section, header {
        scroll-margin-top: $scroll-offset-mobile;
    }

    .container {
        width: 92.5%;
    }
}

@media screen and (max-width: 580px) {
    header {
        padding-top: 35vh !important;
    }

    
}
