@mixin setBgColorOnHover($baseColor) {
    &:hover {
        background-color: darken($baseColor, 10%)
    }
}

footer {
    // background-color: lighten($gray, 45%);
    .container {
        padding-bottom: 1.2rem;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-info p {
        color: $gray;
        font-size: .8em;
    }

    .social-links {
        list-style-type: none;
        display: flex;
        column-gap: 10px;
    }

    li::before {
        content: none;
    }

    .social-links a {
        padding: 10px;
        border-bottom: none;
        display: flex;
        justify-content: center;
        // color: $white;
    }

    .social-links i {
        color: $white;
        font-size: .9em;
        display: flex;
    }

    // .social-links i::before {
    //     color: $white;
    //     font-size: 1em;
    // }

    .last-updated {
        display: block;
        margin-top: 1.2rem;
        text-align: center;
        font-size: .7em;
        color: lighten($gray, 15%);
        // font-style: italic;
    }

    svg {
        fill: white;
        height: 1em;
    }

    .social-links a.linkedin {
        background-color: #0072b1;
        @include setBgColorOnHover(#0072b1);
    }

    .social-links a.twitter {
        background-color: #1DA1F2;
        @include setBgColorOnHover(#1DA1F2);
    }
}