#portfolio {
    // background-color: lighten($gray, 45%);

    .portfolio-projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 30px;
    }

    .portfolio-project {
        outline: 1px solid lighten($gray, 40%);
        position: relative;
        display: flex;
        flex-direction: column;
        // height: fit-content;
        // background-color: lighten($gray, 45%);
        background-color: $white;
    }

    .portfolio-project-body {
        row-gap: .5rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        padding: .9em;
    }

    .content > * + * {
        margin-top: .8em;
    }

    .content > ul {
        margin-top: .2em;
    }

    ul {
        list-style-type: none;
        margin-left: 1em;
    }

    .content > ul > li + li {
        margin-top: .3em;
    }

    .content strong {
        color: $gray;
    }

    .project-link {
        height: 1.5em;
    }

    // .portfolio-project:not(:first-child, :last-child) {
    //     margin: 1.5em 0;
    // }

    // .portfolio-project:first-child {
    //     margin-top: 0;
    // }

    // .portfolio-project:last-child {
    //     margin-bottom: 0;
    // }

    .portfolio-project-title {
        text-align: left;
        margin-top: .5em;
        // margin-bottom: 6px;
        font-weight: bold;
        font-size: 1.35em;
        line-height: 1.2;
    }

    .portfolio-project-description {
        margin: .7em 0;
    }

    .thumbnail {
        background-color: $gray;
        width: 100%;
        height: 50%;
        max-height: 10rem;
        object-fit: cover;
        object-position: center;

        &.placeholder {
            min-height: 100px;
        }
    }
}

@media screen and (max-width: $breakpoint-grid) {
    #portfolio {
        .portfolio-projects {
            grid-template-columns: repeat(1, 1fr);
        }

        .portfolio-project-body {
            a {
                position: static;
            }

            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: space-between;
        }

        .thumbnail {
            max-height: 15rem;
        }
    }
}