#resume {
  // background-color: lighten($gray, 45%);
  height: auto;

  .experiences-section {
    .experiences {
      flex-grow: 1;
      text-align: left;
      margin-top: 9px;
    }

    .experience {
      margin-bottom: 3em;
      display: flex;
      column-gap: 1rem;
    }

    .experience-body {
      flex: 1 1 85%;
      // flex-grow: 1;
    }

    .experience-timeline {
      flex: 1 1 15%;
      // height: fit-content;

      svg {
        width: 100%;
        height: 99%;

        stroke: $gray;
        stroke-width: 2px;
      }
    }

    .experience:last-child {
      margin-bottom: 0;
    }

    .experience:not(:first-child, :last-child) {
      margin: 1.5em 0;
    }

    .experience:last-child {
      padding-bottom: 0;
    }

    .employer {
      font-size: 0.9em;
    }

    .position {
      font-size: 1.2em;
      font-weight: bold;
    }

    .period {
      margin: 0.5em 0;
      margin-bottom: 1em;
      color: $gray;

      span {
        color: $gray;
      }
    }

    .description {
      margin: 1em 0;
      margin-bottom: 1em;
    }

    .description > * {
      margin: 1em 0;
    }

    .list-title {
      font-weight: bold;
      margin-top: 1rem;
      margin-bottom: 0.3em;
      color: $gray;
    }

    ul.items {
      list-style-position: outside;
    }

    ul.items > li {
      margin-left: 1em;
    }

    ul.items > li + li {
      margin-top: 0.3em;
    }

    strong {
      color: $gray;
    }
  }

  .resume-separator {
    width: 50%;
    margin: 1.75rem auto;
    border: none;
    height: 1px;
    background: transparent;
    border-radius: 40px;
  }

  .education-section {
    // margin-top: 3.5em;

    .education {
      margin-bottom: 3em;
      display: flex;
      column-gap: 1rem;
      // align-items: center;
    }

    .education-body {
      flex: 1 1 85%;
      // flex-grow: 1;
    }

    .education-timeline {
      flex: 1 1 15%;

      svg {
        width: 100%;
        height: 99%;

        stroke: $gray;
        stroke-width: 2px;
      }
    }

    .education:last-child {
      margin-bottom: 0;
    }

    .education:not(:first-child, :last-child) {
      margin: 1.5em 0;
    }

    .education:last-child {
      padding-bottom: 0;
    }

    .school {
      font-size: 0.9em;
    }

    .title {
      font-size: 1.2em;
      font-weight: bold;
      display: flex;
      align-items: center;
      column-gap: 6px;
      flex-wrap: wrap;
      display: inline;
    }

    .period {
      margin: 0.5em 0;
      margin-bottom: 1em;
      color: $gray;

      span {
        color: $gray;
      }
    }

    .degree {
      font-weight: normal;
      font-size: 0.8em;
      color: $gray;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  #resume {
    .experiences-section,
    .education-section {
      justify-content: flex-start;
      row-gap: 15px;
    }

    .experience {
      padding-left: 0;
    }

    .experience-body,
    .education-body {
      flex: 1 1 85% !important;
    }

    // .experience-body, .education-body {
    //     flex: 1 1 85% !important;
    // }

    // .experience-timeline, .education-timeline {
    //     flex: 1 1 15% !important;
    //     // display: none;
    // }
  }
}
