<div class="container">
    <h2 class="heading">Contact</h2>
    <form id="contact-form" action="{{ process.env.FORMSPREE_ENDPOINT }}" method="POST">
        <div class="form-row">
            <label for="name">Name</label>
            <input
                required
                name="name"
                id="name"
                placeholder="Your name"
                type="text"
            />
        </div>
        <div class="form-row">
            <label for="email">Email</label>
            <input
                required
                name="email"
                id="email"
                placeholder="Your email address"
                type="email"
            />
        </div>
        <div class="form-row">
            <label for="phone"
                >Phone number <span class="optional">(optional)</span></label
            >
            <input
                name="phone"
                id="phone"
                placeholder="Your phone number"
                type="tel"
            />
        </div>
        <div class="form-row">
            <label for="subject">Subject</label>
            <input
                required
                name="subject"
                id="subject"
                placeholder="Enter the subject"
                type="text"
            />
        </div>
        <div class="form-row">
            <label for="message">Message</label>
            <textarea
                required
                name="message"
                id="message"
                placeholder="Enter your message"
                type="text"
                rows="5"
            ></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Send message</button>
    </form>
</div>
