.btn {
  border: none;
  // outline: 1px solid lighten($gray, 25%);
  padding: 10px 20px;
  // border-radius: 25px;
  // font-weight: bold;
  font-size: 1em;
  // box-shadow: 0px 0px 6px 3px rgba(131 131 131 / .1);
  cursor: pointer;
}

.btn:focus {
  outline: 2px solid $black;
}

.btn-primary {
  background: $purple;
  color: $white !important;
  transition: background-color 0.1s ease-in-out;
}

.btn-primary:hover {
  background: $orange;
  //   background: darken($purple, 10);
}

.btn-secondary {
  transition: color 0.1s ease-in-out;
}

.btn-secondary:hover {
  color: $orange;
}
