a {
    color: $orange;
    text-decoration: none;
    border-bottom: 1px dotted $orange;
}

a:hover {
    color: inherit;
    border-bottom: none;
    cursor: pointer;
}

// a[target="_blank"]:after {
//     font-family: 'FontAwesome';
//     content: "\f08e";
//     margin-left: 5px;
//     font-size: .7em;
//     vertical-align: text-top;
// }

a[target="_blank"]:after {
    background-color: $orange;
    -webkit-mask-image: url(/public/img/external-link-icon.svg);
    mask-image: url(/public/img/external-link-icon.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    // content: url(/img/external-link-icon.svg);
    content: 'Opens link in a new window';
    margin-left: 5px;
    font-size: .7em;
    vertical-align: text-top;
    display: inline-block;
    width: 10px;
    height: 12px;
}

// a[target="_blank"] {
//     background-color: red;
//     -webkit-mask-image: url(/img/external-link-icon.svg);
//     mask-image: url(/img/external-link-icon.svg);
//     -webkit-mask-repeat: no-repeat;
//     mask-repeat: no-repeat;
//     // background: url(/img/external-link-icon.svg) center right no-repeat;
//     padding-right: 13px;
// }